@use "../../styles/partials/variables" as *;

.snooker {
  &__background {
    background-image: url(../../images/snookerbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
    height: 77vh;
  }

  &__balls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 77vh;
  }

  &__y-g-br-balls {
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
    align-items: center;
    padding-top: 3rem;
  }

  &__b-p-balls {
    display: flex;
    flex-direction: column;
  }

  &__ball {
    border-radius: 50%;
    height: 1.5rem;

    &--yellow {
      background-color: yellow;
      border-color: yellow;
    }
    &--green {
      background-color: green;
      border-color: green;
    }
    &--brown {
      background-color: brown;
      border-color: brown;
    }
    &--blue {
      background-color: blue;
      border-color: blue;
      margin-bottom: 2rem;
    }
    &--pink {
      background-color: pink;
      border-color: pink;
    }
    &--red {
      background-color: red;
      border-color: red;
      width: 5rem;
      height: 4rem;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1.5rem solid red;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    &--black {
      background-color: black;
      border-color: black;
    }
  }
}
